h3{
    font-size: 25px !important;
}
.btn-info:hover{
    background-color: #ad54c4;
}
canvas{
    animation-name: metamorphosis;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes metamorphosis{
0%{box-shadow:1px 1px 38px #9305b6;}
50%{box-shadow: 1px 1px 38px  #00c6b2;}
100%{box-shadow:1px 1px 38px #da078c;}
}